<%- include('../include/header') %>
<div class="container">
    <%- include('../include/partials/responseMessage') %>
    <%- include('../include/partials/spinner') %>
    <div hidden class="lobby" id="lobby">
        <div class="my-info">
            <h4>My Info</h4>
            <ul>
                <li>
                    <label>Username:</label>
                    <span id="username">testuser</span>
                </li>
            </ul>
        </div>
        <div class="rooms">
            <h1>Raw Deal</h1>
            <div class="room">
                <div class="room-info">
                    <span><strong>Practice</strong></span>
                    <span>Solo goldfish mode vs a passive opponent</span>
                </div>
                <a href="/practice">Play</a>
            </div>
            <div class="room">
                <div class="room-info">
                    <span><strong>Multiplayer</strong></span>
                    <span>Create or join a room</span>
                </div>
                <a href="/games">Play</a>
            </div>
            <div class="room">
                <div class="room-info">
                    <span><strong>Deck Builder</strong></span>
                    <span>Customize starter decks</span>
                </div>
                <a href="/decks">Edit</a>
            </div>
            <p class="total" id="total-users">Total Users: 0</p>
            <p class="total" id="total-rooms">Total Rooms: 0</p>
        </div>
    </div>
</div>
<%- include('../include/partials/chat') %>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
<script src="js/spinner.js"></script>
<script src="js/lobby.js"></script>
<script src="js/responseMessage.js"></script>
<script src="js/chat.js"></script>
<%- include('../include/footer') %>